# C
c/build/
c/quicksort
c/test_quicksort

# C++
cpp/build/
cpp/quicksort
cpp/test_quicksort

# Golang
golang/main

# Java
java/.gradle
java/.settings
java/.project
java/build

# Javascript
javascript/node_modules
javascript/package-lock.json

# Kotlin 
kotlin/.gradle
kotlin/build

# Python
python/build/
python/venv
python/quicksort/__pycache__/
python/quicksort_cython/__pycache__/
python/quicksort_cython/quicksort.c
python/quicksort_cython/*.so
python/tests/__pycache__/
python/.pytest_cache

# Rust
rust/quicksort/target/
rust/quicksort/Cargo.lock

# Scala
scala/.gradle
scala/build

# Typescript
typescript/dist
typescript/package-lock.json
typescript/node_modules
